body {
    margin: 0;
    padding: 0;
}

#nav_bar {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
}

.MI_color {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    padding-left: 50px;
}

.health_color {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #59b300;
}

nav {
    padding-right: 60px;
    margin: 0;;
}

.meals {
    padding: 0 20px;
    font-size: 30px;
}

.main_body {
    background-color: rgb(218, 218, 218);
    display: flex;
    padding-left: 65px;
}

.food_discription {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

h1 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
}

.discription {
    font-size: 30px;

}

.browse {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.image_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 60px;

}

.pasta_salad {
    width: 325px;
    height: auto;
    padding: 10px 10px 10px 20px;
    bottom: 150px;
}


.shrimp_img {
    width: 325px;
    height: 490px;
    padding: 10px 10px 10px 20px;
}

.apple_breakfast {
    width: 325px;
    height: auto;
    padding: 10px 10px 10px 20px;
}

.text_container {
    position:relative;
    bottom: 20px;
}
.taste {
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 10px;
    padding:10px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.meal_time {
    background-color: #65bb0f;
    position: absolute;
    right: 10px;
    bottom: -10px;
    width: 170px;
    height: 40px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
