body {
    margin: 0;
    padding: 0;
}

#nav_bar {
    background-color: white;
    padding: 10px;
    display: flex;
    width: auto;
}

.MI_color {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    float:left;
    padding-left: 50px;
}

.health_color {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #59b300;
    float: left;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.meals {
    padding: 0 20px;
    font-size: 20px;

}

.main_body {
    background-color: rgb(218, 218, 218);
    display: flex;
    float: left;
    padding-left: 65px;
}

.food_discription {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

h1 {
    font-size: 55px;
}

.discription {
    font-size: large;

}

.browse {
    font-size: 25px;
    
}

.food_images {
    display: flex;
    float: left;
    align-items: center;
}

.pasta_salad {
    width: 350px;
    height: 500px;
    padding: 10px 10px 10px 20px;
    position: relative;
    text-align: center;
}


.shrimp_img {
    width: 350px;
    height: 500px;
    padding-left: 10px;
}

.apple_breakfast {
    width: 350px;
    height: 500px;
    padding-left: 10px;
}
.taste {
    background-color: white;
}

.meal_time {
    background-color: #65bb0f;

}
